.myimg{
    border: 5px solid blue;
}

#videoCanvas {
    display: flex;
    align-items: center;
}

#mycanvas {
    position: absolute;
}

#dontshow{
    display: none;
}

.button{
    padding: 10px;
    background-color: #0F6FC5;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.button:hover{
    background-color: rgb(2, 65, 120);
}
.button:active{
    outline: black solid 2px;
}

.button-container{
    position: relative;
    display: inline-block;
}

.text{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    text-align: center;
    transform: translateY(-50%);
}

.button-recapture{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    text-align: center;
    transform: translate(-50%,-50%) scale(0);
    background-color: #0a78d1;
    color: white;
    padding: 5px;
    display: none;
    cursor: pointer;
}


.button-recapture:hover{
    background-color: rgb(2, 65, 120);
}

.button-container:hover .button-recapture{
    transform: translate(-50%,-50%) scale(1);
}

.button-disable{
    background-color: rgba(221, 224, 230, 0.43);
    cursor: not-allowed;
}

.button-disable:hover{
    background-color: rgba(221, 224, 230, 0.43);
}

.button-disable:active{
    outline: none;
}